{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                    <h2 class="post-title">Moringa School</h2>
                    <h3 class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</h3>
            
                <p class="post-meta">Posted by Albert  on 21/2/2019</p>
                <div>
                    <a class="btn btn-success btn-sm m-1" data-toggle="modal" data-target="#modalComment">Comment</a>
                    <a class="btn btn-success btn-sm m-1" href="#">Edit Blog</a>
                    <button type="submit" class="btn btn-sm btn-danger m-1" data-toggle="modal"
                        data-target="#modalConfirmDelete">Delete</button>
                </div>
            </div>
            <hr>
        </div>
        </div>
</div>
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Are you sure?</p>
        </div>
        <div class="modal-body">
          <i class="fas fa-times fa-4x animated rotateIn"></i>
        </div>
        <div class="modal-footer flex-center">
          <form action="#" method="POST">
              <input  type="submit" class="btn  btn-outline-danger btn-sm" value="Yes">
          </form>
          <a type="button" class="btn btn-sm btn-danger waves-effect" data-dismiss="modal">No</a>
        </div>
      </div>
  </div>
</div>

<div class="modal fade" id="modalComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-notify modal-info" role="document">
<div class="modal-content text-center">
  <div class="modal-header d-flex justify-content-center"  style="background-color: rgb(62,79,98);">
    <p class="heading">Leave A comment Here</p>
  </div>
  <div class="modal-body">
      <form class="form" action="#" method="POST">
          <div class="form-group green-border-focus">
              <label></label>
              <textarea class="form-control" placeholder="Type your comment..." rows="2" name ="newcomment" required></textarea>
          </div>
          <div class="modal-footer flex-center">
              <button class="btn btn-sm btn-outline-success">Comment</button>
              <a type="button" class="btn btn-outline-danger btn-sm " data-dismiss="modal">Exit</a>
          </div>
      </form>
  </div>
 

</div>
</div>
</div>
    {% endblock %}