<footer class=" page-footer font-small bg-dark pt-4">
    <div class="container  text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Corruption Feed</h5>
                <p>Corruption Feed is a web application that allows locals to post corruption cases that they have
                    witnessed or encountered.
                </p>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 mx-auto text-center">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ url_for('main.add')}}">Report A Case</a>
                    </li>
                    <li>
                        <a href="https://www.eacc.go.ke/">EACC Website</a>
                    </li>
                    <li>
                        <a href="https://www.acauthorities.org/country/ke">Anti-Corruption Authorities</a>
                    </li>
                </ul>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Subscribe to Feeds</h5>
                <form class="input-group ">
                    <input type="text" class="form-control form-control-sm" placeholder="Your email"
                        aria-label="Your email" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <hr>
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright &copy; 2019
        <a href="{{url_for('main.index')}}">Corruption Feed. </a>All Rights Reserved.
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->