{% extends 'base.html' %}
{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/photos/corruptionbleed1.jpg'); background-size: cover; height: 100vh;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Let's fight corruption</h1>
          <span class="subheading">Corruption has become the cancer of this country and the main hindrance to progress</span>
        </div>
      </div>
    </div>
  </div>
 </header>

    <!--Section: Jumbotron-->
    <div class="container">    
    <div class="row">
      <div class="col-md-3 ml-3 mt-2">
        <h2>Trending Cases</h2>
        <hr>
        <ul>
          <li>SEcihjkds</li>
          <li>nsndkansmd</li>
        </ul>
      </div>
    
    
            <div class="col-lg-7 col-md-8 mx-auto mt-1">
                <div class="post-preview">
                        <h2 class="post-title">Moringa School</h2>
                        <h3 class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</h3>
                    <p class="post-meta">Posted by Albert  on 21/2/2019</p>
                    <div>
                        <a class="btn btn-success btn-sm m-1" data-toggle="modal" data-target="#modalComment">Comment</a>
                        <a class="btn btn-success btn-sm m-1" href="#">Edit Blog</a>
                        <button type="submit" class="btn btn-sm btn-danger m-1" data-toggle="modal"
                            data-target="#modalConfirmDelete">Delete</button>
                    </div>
                </div>
                <hr>
            </div>
            </div>
     </div>
     </div>
     
     </div>
    </div>
  </div>

  
{% endblock %}