{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
{% include 'header.html' %}
<main>
  <div class="container-fluid">
    <div class="row pb-5">
      <div class="col-md-3 ml-3 mt-4 border border-top-0 border-right border-bottom-0 border-left-0">
        <h2>Trending Cases</h2>
        <hr>
        <ul class="shortlist">
          {% for post in posts %}
          <li>
            <h6><a href="{{ url_for('main.post', post_id=post.id)}}">{{post.title}}</a></h6>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-7 col-md-8 mx-auto mt-1">
        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ url_for('main.post', post_id=post.id)}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.content}}
            </h3>
          </a>
          <p class="post-meta">Posted by {{post.user.username}} on {{post.posted.strftime('%B %d, %Y')}}</p>
        </div>
        
        <hr>
        {% endfor %}
      </div>
      <div class="col-md-3">
        <div class="w-50">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}

        </div>


      </div>
    </div>
  </div>
</main>

{% endblock %}
